{{extend 'layout.html'}}
<!-- USER PROFILE BLOCK -->
<div class="col-md-3">

    <!-- LOCAL TIME BLOCK -->
    <div class="half-unit">
        <dtitle>Hora Local</dtitle>
        <hr>
        <div class="clockcenter">
            <digiclock>12:45:25</digiclock>
        </div>
    </div>
    
</div>
{{for item in lista:}}
    {{=XML(item)}}
{{pass}}

<script>
    $('.lamp-unit').click(
        function(){
            OnOff_get($(this).attr('id'));
            
            
        }
    );

    function exec_(str){
        var obj = $(str);
        on_off(obj);
    }

    function on_off(obj){
        $(obj).toggleClass('lamp-ligado');
        var innerHTML = $(obj).html();
        if($(obj).find('.h3').html() =='Ligado <i class="fa fa-toggle-on"></i>'){
            $(obj).find('.h3').html('Desligado <i class="fa fa-toggle-off"></i>');
        }else{
            $(obj).find('.h3').html('Ligado <i class="fa fa-toggle-on"></i>');
        }
    }

    function OnOff_get(val){
        $.get( "{{=URL('devices')}}", { value: val } )
        .   done(function( data ) {
            return data;
        });
    }
    var data;
    web2py_websocket('ws://blossonville2.ddns.net:8888/realtime/mygroup', function(e){
        exec_(e.data);
    });

    
</script>