{{extend 'layout.html'}}
<!-- USER PROFILE BLOCK -->
<div class="row">
    <div class="col-md-4 col-md-offset-4" id="msg">
        
    </div>
</div>
<div class="col-md-3">

    <!-- LOCAL TIME BLOCK -->
    <div class="half-unit">
        <dtitle>Hora Local</dtitle>
        <hr>
        <div class="clockcenter">
            <digiclock>12:45:25</digiclock>
        </div>
    </div>
    
</div>
{{for item in lista:}}
    {{=XML(item)}}
{{pass}}
<script>
    web2py_websocket('ws://192.168.25.149:8888/realtime/mygroup', function(e){
        setTimeout(e.data,200);
    });
</script>